body {
	background: #ddd;
	text-align: center;
}

div {
	margin: 0;
	padding: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background: #eee;
}

a {
	font-size: 36px;
}